{% trans_default_domain 'FOSUserBundle' %}

{% if '/profile/edit' in app.request.requestUri %}
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"
{% else %}
<form action="{{ path('editSpecificUser', {userid: user.id}) }}" {{ form_enctype(form) }} method="POST"
{% endif %}
    class="form-horizontal">

    {% for child in form.children %}
        {% if child.vars.errors is defined and child.vars.errors|length%}
        <div class="alert alert-block alert-danger">
            <a class="close" data-dismiss="alert">×</a>
            {{ form_errors(child) }}
        </div>
        {% endif %}
    {% endfor %}

    <div class="form-group">
        <div class="col-sm-8">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, { 'attr' : { 'class': 'form-control' } }) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, { 'attr' : { 'class': 'form-control' } }) }}
        </div>
        <div class="col-sm-4" >
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname, { 'attr' : { 'class': 'form-control' } }) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-8">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr' : { 'class': 'form-control' } }) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-8">
            {{ form_label(form.telephone) }}
            {{ form_widget(form.telephone, { 'attr' : { 'class': 'form-control' } }) }}
        </div>
    </div>

    {% if '/profile/edit' in app.request.requestUri %}
    <div class="form-group">
        <div class="col-lg-8">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, { 'attr' : { 'class': 'form-control' } }) }}
        </div>
    </div>
    {% else %}
        <div class="form-group">
            <div class="col-lg-8">
                {{ form_label(form.bookstore) }}
                {{ form_widget(form.bookstore, { 'attr' : { 'class': 'form-control' } }) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-8">
                {{ form_label(form.healthcare) }}
                {{ form_widget(form.healthcare, { 'attr' : { 'class': 'form-control' } }) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-8">
                {{ form_label(form.role) }}
                {{ form_widget(form.role, { 'attr' : { 'class': 'form-control' } }) }}
            </div>
        </div>
    {% endif %}

    {{ form_rest(form) }}

    <div>
        <button type="submit" class="btn btn-primary"> {{ 'profile.edit.submit'|trans }} </button>
    {% if '/profile/edit' in app.request.requestUri %}
        <a href="{{path('fos_user_profile_show')}}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>
    {% else %}
        <a href="{{path('viewSpecificUser', {userid: user.id})}}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>
    {% endif %}
    </div>
</form>
