{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-8">
        <div class="fos_user_user_show">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>

        {% if app.user.id == user.id %}
        <a href="{{path('fos_user_profile_edit')}}" class="btn btn-primary">{{ 'Edit account'|trans }}</a>
        <a href="{{path('fos_user_change_password')}}" class="btn btn-danger">{{ 'Change password'|trans }}</a>
        {% else %}
            {% if is_granted('ROLE_SUPER_ADMIN')  %}
            <a href="{{path('editSpecificUser', { userid: user.id })}}" class="btn btn-primary">
                {{ 'Edit account'|trans }}
            </a>
            <a href="{{path('changePasswordSpecificUser', { userid: user.id })}}" class="btn btn-danger">
                {{ 'Change password'|trans }}
            </a>
            {% endif %}
        {% endif %}
    </div>

    <div class=" jumbotron">
        <div class="col-md-8">
            {% if 'ROLE_PAIDUSER' in user.roles %}
            Your subscription is valid until:
            {% else %}
            <a href="{{path('newSubscription', { userid: user.id })}}" class="btn btn-primary">{{ 'Add new
                subscription'|trans }}</a>
            {% endif %}
            {% if user.subscriber %}
            {% for subje in user.subscriber.subscriptions %}
                {{ subje.enddate | date }}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
