{% extends '::layout.html.twig' %}

{% block content %}
	<div class="col-sm-12">
        <div class="jumbotron">
		    <h1>{{ 'Vacatures' | trans }}</h1>

		    {{ content.content | raw }}

		    {% if is_granted('ROLE_SUPER_ADMIN') %}
		        {{ form_start(form) }}
		        {{ form_widget(form) }}
		        {{ form_end(form) }}
		    {% endif %}
		</div>
	</div>
{% endblock %}
