{% extends "::layout.html.twig" %}

{% block content %}

</form>
<form action="{{path('changePasswordSpecificUser', { userid: user.id })}}" {{ form_enctype(form) }} method="POST"
    class="form-horizontal">

    <div class="form-group">
        {% for passwordField in form.plainPassword %}
        <label for="plainPassword" class="col-sm-2 control-label">{{ form_label(passwordField) }}</label>
        <div class="col-sm-4">
            {{ form_widget(passwordField, { 'attr' : { 'class': 'form-control' } }) }}
        </div>
        {% endfor %}
    </div>

    {{ form_rest(form) }}

    <div>
        <button type="submit" class="btn btn-danger"> {{ 'change_password.submit'|trans }} </button>
    </div>
    <a href="{{path('viewSpecificUser', {userid: user.id})}}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>
</form>

{% endblock content %}
