{% extends '::layout.html.twig' %}

{% block content %}
<h1> {% trans %}User overview{% endtrans %}</h1>



<div class="row">
    <div class="col-md-8 status-legend">
        <table>
            <tr>
                <td><span class="glyphicon glyphicon-minus"></span></td>
                <td><span class="glyphicon glyphicon-star-empty"></span></td>
                <td><span class="glyphicon glyphicon-star"></span></td>
            </tr>
            <tr>
                <td>{% trans %}No subscription{% endtrans %}</td>
                <td>{% trans %}Pending{% endtrans %}</td>
                <td>{% trans %}Subscriber{% endtrans %}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4  add-button">
        <a href="{{path('createUser')}}" class="btn btn-primary">{{'Add user'| trans }}</a>
    </div>
</div>

<table border="0" cellspacing="5" cellpadding="5" class="display table" width="100%"
data-toggle="datatable" id="adminUserOverview">
    <thead>
        <tr>
            <th>{{ 'ID' | trans }}</th>
            <th>{{ 'Username' | trans }}</th>
            <th>{{ 'Email' | trans }}</th>
            <th>{{ 'Status' | trans }}</th>
            <th>{{ 'Bookstore' | trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <!--<span class="glyphicons glyphicons-star-half"></span>-->
            <td>{{ user.id  }}</td>
            <td><a href="{{path('viewSpecificUser', {userid: user.id})}}" >{{ user.username }}</a></td>
            <td>{{ user.email}}</td>
            {% if user.subscriber == null or not user.subscriber.hasActiveSubscription %}
                <td>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </td>
            {% elseif user.subscriber.hasActiveSubscription and
                not user.subscriber.getActiveSubscription.isPaid %}
                <td>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </td>
            {% else %}
                <td>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </td>
            {% endif %}
            <td>{{ user.bookstore ? user.bookstore.name : '-'}}</td>
            <td>
                {% if user.id != app.user.id %}
                <a data-bb="confirm" class="btn btn-danger" href="{{path('deleteSpecificUser', {userid: user.id})}}">
                    {{ 'Remove' | trans }}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}
