{% extends '::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="{{path('createUser')}}" class="btn btn-primary">Add User</a>
    </div>
</div>

<table border="0" cellspacing="5" cellpadding="5" class="display table" width="100%"
    data-toggle="datatable">
    <thead>
        <tr>
            <th>{{ 'username' | trans }}</th>
            <th>{{ 'email' | trans }}</th>
            <th></th>
        </tr>
        <tbody>
           {% for user in users %}
           <tr>
               <td><a href="{{path('viewSpecificUser', {userid: user.id})}}" >{{ user.username }}</a></td>
               <td>{{ user.email}}</td>
               <td><a href="{{path('deleteSpecificUser', {userid: user.id})}}">{{ 'delete' | trans }}</a></td>
           </tr>
           {% endfor %}
        </tbody>
    </thead>
</table>
{% endblock %}
