{% extends '::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="{{path('createUser')}}" class="btn btn-primary">Add User</a>
    </div>
</div>

<table border="0" cellspacing="5" cellpadding="5" class="display table" width="100%"
data-toggle="datatable" id="adminUserOverview">
    <thead>
        <tr>
            <th>{{ 'id' | trans }}</th>
            <th>{{ 'username' | trans }}</th>
            <th>{{ 'email' | trans }}</th>
            <th>{{ 'status' | trans }}</th>
            <th>{{ 'bookstore' | trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <!--<span class="glyphicons glyphicons-star-half"></span>-->
            <td>{{ user.id  }}</td>
            <td><a href="{{path('viewSpecificUser', {userid: user.id})}}" >{{ user.username }}</a></td>
            <td>{{ user.email}}</td>
            {% if user.subscriber == null %}
                <td>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </td>
            {% elseif user.subscriber.hasPaidSubscription == false %}
                <td>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </td>
            {% elseif user.subscriber.hasActiveSubscription == true %}
                <td>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </td>
            
            {% endif %}
            <td>{{ user.bookstore ? user.bookstore.name : '-'}}</td>
            <td><a href="{{path('deleteSpecificUser', {userid: user.id})}}">{{ 'delete' | trans }}</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}
