<div class="collapse navbar-collapse pull-right">
<ul class="nav navbar-nav">

    {% if is_granted('ROLE_SUPER_ADMIN') %}

    <li class="dropdown textmenu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-expanded="false">{{ 'Manage' | trans}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li class="textmenu">
                    <a href="{{path('userOverview')}}">{{ 'Manage users'|trans }}</a>
                </li>
                <li class="textmenu">
                    <a href="{{path('adminOverview')}}">{{ 'Manage notices'|trans }}</a>
                </li>
                <li class="textmenu">
                    <a href="{{path('bookstoreOverview')}}">{{ 'Manage bookstores'|trans }}</a>
                </li>
                <li class="textmenu">
                    <a href="{{path('promoOverview')}}">{{ 'Manage promos'|trans }}</a>
                </li>
                <li class="textmenu">
                    <a href="{{path('healthcareOverview')}}">{{ 'Manage healthcares'|trans }}</a>
                </li>
                <li class="textmenu">
                    <a href="{{path('updateSystem')}}">{{ 'Manage system'|trans }}</a>
                </li>
            </ul>
    </li>
    {% endif %}
    {% if is_granted('ROLE_PRINTER') %}
    <li class="textmenu">
        <a href="{{path('pagePrinter')}}">{{ 'Printer information'|trans }}</a>
    </li>
    {% endif %}
    {% if not is_granted("ROLE_SUPER_ADMIN") %}
        {% if not app.user.subscriber or not app.user.subscriber.hasPaidActiveSubscription %}
            <li class="textmenu">
                <div class="subscription-info-new">
                    <a href="{{path('newSubscription', { userid: app.user.id })}}" class="btn btn-success"><span class="glyphicon glyphicon-plus"> </span> {{ 'Subscription'|trans }}</a>
                </div>
            </li>
        {% endif %}
    {% endif %}
    <li class="textmenu">
        <a href="{{path('fos_user_profile_show')}}">
            <span class="glyphicon glyphicon-user"> </span> {{ 'logged_in_as'|trans({'%username%': app.user.username}) }}
        </a>
    </li>
    <li>
    <a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">
        <span class="glyphicon glyphicon-off"> </span> {{ 'logout'|trans }}
    </a>
    </li>

</ul>
</div><!--/.nav-collapse -->
