{% extends '::layout.html.twig' %}

{% block content %}
    <h1>New address</h1>
    {{ form_start(address) }}
    	{{ form_errors(address) }}

        <div class="form-group">
            <label for="street">{{ form_label(address.street) }}</label>
            {{form_widget(address.street) }}
        </div>

        <div class="form-group">
            <label for="postalCode">{{ form_label(address.postalcode) }}</label>
            {{form_widget(address.postalcode) }}
        </div>

        <div class="form-group">
            <label for="municipality">{{ form_label(address.municipality) }}</label>
            {{form_widget(address.municipality) }}
        </div>

        <div class="form-group">
            <label for="country">{{ form_label(address.country) }}</label>
            {{form_widget(address.country) }}
        </div>

        <a href="{{path('adminOverview')}}" class="btn btn-primary">Cancel</a>
        {{form_widget(address.save, { 'attr': {'class': 'btn btn-primary'}})}}

    	{{ form_rest(address) }}

    {{ form_end(address) }}
{% endblock %}