{% extends '::layout.html.twig' %}

{% block content %}

    <h1>New Bookstore</h1>
    {% if '/bookstore/new/' in app.request.requestUri %}
    <form action="{{ path('createBookstore') }}" method="POST"
    {% else %}
    <form action="{{ path('updateBookstore', {id: bookstoreID}) }}" method="POST"
    {% endif %}
        class="form-horizontal">
    	{{ form_errors(bookstore) }}

    	<div class="form-group">
            {{ form_label(bookstore.name) }}
            {{form_widget(bookstore.name) }}
        </div>

        <div class="form-group">
            {{ form_label(bookstore.telephone) }}
            {{form_widget(bookstore.telephone) }}
        </div>

        <div class="form-group">
            {{ form_label(bookstore.email) }}
            {{form_widget(bookstore.email) }}
        </div>

        <div class="form-group">
            {{ form_label(bookstore.address.street) }}
            {{form_widget(bookstore.address.street) }}
        </div>

        <div class="form-group">
            {{ form_label(bookstore.address.postalCode) }}
            {{form_widget(bookstore.address.postalCode) }}
        </div>

        <div class="form-group">
            {{ form_label(bookstore.address.municipality) }}
            {{form_widget(bookstore.address.municipality) }}
        </div>

        <div class="form-group">
            {{ form_label(bookstore.address.country) }}
            {{form_widget(bookstore.address.country) }}
        </div>

        <div class="form-group" id="vatNumber">
            {{ form_label(bookstore.vatNumber) }}
            {{ form_widget(bookstore.vatNumber) }}
        </div>

        <a href="{{path('bookstoreOverview')}}" class="btn btn-primary">Cancel</a>

        {{form_widget(bookstore.save, { 'attr': {'class': 'btn btn-primary'}})}}

    	{{ form_rest(bookstore) }}

    </form>
{% endblock %}