{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block content %}
 <div class="col-sm-12">
    <div class="jumbotron">
        <h1>{% trans %}Article overview{% endtrans %}</h1>

        {{ form_start(form, { 'attr': {'class': 'form-horizontal'}})}}

        {% for child in form.children %}
            {% if child.vars.errors is defined and child.vars.errors|length%}
            <div class="alert alert-block alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ form_errors(child) }}
            </div>
            {% endif %}
        {% endfor %}

        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="col-sm-6 form-group">
                    {{ form_label(form.titel) }}
                    {{ form_widget(form.titel, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-6 form-group">
                    {{ form_label(form.subtitel) }}
                    {{ form_widget(form.subtitel, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-6 form-group">
                    {{ form_label(form.vakgebieden) }}
                    {{ form_widget(form.vakgebieden, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-6 form-group">
                    {{ form_label(form.auteur) }}
                    {{ form_widget(form.auteur, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-6 form-group">
                    {{ form_label(form.trefwoorden) }}
                    {{ form_widget(form.trefwoorden, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-6 form-group">
                    {{ form_label(form.jaar) }}
                    {{ form_widget(form.jaar, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-6 form-group">
                    <label>{{ 'Book review?' | trans }}</label>
                    {{ form_widget(form.boekbespreking) }}
                </div>
            </div>
            <div class="col-sm-6">
                {{ form_widget(form.search, { 'attr': {'class': 'btn btn-primary'}}) }}
            </div>

        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}

        <div class="col-sm-12 search500">
            <p>{% trans %}search500resultsnotice{% endtrans %}</p>
        </div>

        <table border="0" cellspacing="5" cellpadding="5" class="display table" width="100%"
        data-toggle="datatable" id="articleOverview">
            <thead>
                <tr>
                    <th>{{ 'author' | trans }}</th>
                    <th>{{ 'title' | trans }}</th>
                    <th>{{ 'year' | trans }}</th>
                    <th>{{ 'number' | trans }}</th>
                    <th>{{ 'pages' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{article.auteur}}</td>
                    <td>{{article.titel}}</td>
                    <td>{{article.jaar}}</td>
                    <td>{{article.nummer}}</td>
                    <td>{{article.endpage}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
