{% extends '::layout.html.twig' %}

{% block content %}
<h1>{% trans %}Invoice overview{% endtrans %}</h1>

    <div class="row">
    	<div class="col-md-12">
    		<table id="invoiceOverview" class="table table-striped">
			 	<thead>
                    <tr>
			 		<th>{{ 'Date'|trans }}</th>
                    <th>{{ 'Invoice number'|trans }}</th>
                    <th>{{ 'Order number'|trans }}</th>
			 		<th></th>
                    </tr>
			 	</thead>
			 	<tbody>
			 		{% for invoice in invoices %}
			 		<tr>
			 			<td>{{ invoice.date |date("d/m/Y") }}</td>
			 			<td>{{ invoice.invoiceNumber }}</td>
			 			<td>{{ invoice.orderNumber }}</td>
                        <td><a href="{{path('getInvoice', {invoiceid: invoice.id})}}">
                                {{ 'download invoice'|trans }}</a></td>
			 		</tr>
					{% endfor %}
			 	</tbody>
			</table>
		</div>
	</div>

{% endblock %}
