{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Notice overview<h1>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
    	<div class="col-md-12">
    		<a href="{{path('createNotice')}}" class="btn btn-primary">Add Notice</a>
    	</div>
    </div>
    {% endif %}

    <div class="row">
    	<div class="col-md-12">
    		<table id="adminNoticeOverview" class="table table-striped">
			 	<thead>
                    <tr>
			 		<td>#</td>
			 		<td>Title</td>
			 		<td>Creation date</td>
			 		<td class="span1">Message</td>
			 		<td></td>
			 		<td></td>
                    </tr>
			 	</thead>
			 	<tbody>
			 		{% for notice in notices%}
			 		<tr>
			 			<td>{{ notice.id }}</td>
			 			<td>{{ notice.title }}</td>
			 			<td>{{ notice.creationDate|date("d/m/Y h:i") }}</td>
			 			<td>{{ notice.message }}</td>
			 			<td><a href="{{path('updateNotice', {id:notice.id})}}" class="btn btn-link">Update</a></td>
			 			<td><a href="{{path('removeNotice', {id:notice.id})}}" class="btn btn-danger">Remove</a></td>
			 		</tr>
					{% endfor %}
			 	</tbody>
			</table>
		</div>
	<div>
{% endblock %}
