{% extends '::layout.html.twig' %}

{% block content %}
    <h1>{{ 'New Notice'|trans }}</h1>
    {{ form_start(notice) }}
        {% for child in notice.children %}
            {% if child.vars.errors is defined and child.vars.errors|length%}
            <div class="alert alert-block alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ form_errors(child) }}
            </div>
            {% endif %}
        {% endfor %}

    	<div class="form-group">
    		{{ form_label(notice.title) }}
    		{{ form_widget(notice.title) }}
    	</div>

    	<div class="form-group">
    		{{ form_label(notice.message) }}
    		{{form_widget(notice.message)}}
    	</div>

        <a href="{{path('adminOverview')}}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>

        {{form_widget(notice.save, { 'attr': {'class': 'btn btn-primary'}})}}

    	{{ form_rest(notice) }}

    {{ form_end(notice) }}
{% endblock %}

