{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block content %}
<h1>{{'Here you can change the date on this subscription'|trans }}</h1>
    {{ form_start(form) }}
    	{{ form_errors(form) }}

        {{form_widget(form.save, { 'attr': {'class': 'btn btn-primary'}})}}
        <a href="{{path('viewSpecificUser', {userid: userid})}}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>

    	{{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

