{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block content %}
    {% if newsubscriber %}
    <h1>New Subscription</h1>
    {% else %}
    <h1>Please Check your subscription details</h1>
    {% endif %}
    {{ form_start(form) }}
    	{{ form_errors(form) }}

    	<div class="form-group">
    		<label for="title">{{ form_label(form.school) }}</label>
    		{{ form_widget(form.school) }}
    	</div>

    	<div class="form-group">
    		<label for="title">{{ form_label(form.pricingtype) }}</label>
    		{{ form_widget(form.pricingtype) }}
    	</div>

    	<div class="form-group">
    		<label for="title">{{ form_label(form.graduation) }}</label>
    		{{ form_widget(form.graduation) }}
    	</div>

    	<div class="form-group">
    		<label for="title">{{ form_label(form.wantsBill) }}</label>
    		{{ form_widget(form.wantsBill) }}
    	</div>

    	<div class="form-group" id="deliveryAddress">
    		<label for="title">{{ form_label(form.deliveryaddress) }}</label>
    		{{ form_widget(form.deliveryaddress) }}
    	</div>

		<div class="form-group" id="facturationAddress">
    		<label for="title">{{ form_label(form.facturationaddress) }}</label>
    		{{ form_widget(form.facturationaddress) }}
    	</div>

    	<div class="form-group" id="sameAddress">
    		<label for="title">{{ form_label(form.sameaddress) }}</label>
    		{{ form_widget(form.sameaddress) }}
    	</div>

		{{ form_rest(form) }}

        {{form_widget(form.save, { 'attr': {'class': 'btn btn-primary'}})}}
        {% if userid == app.user.id %}
            <a href="{{path('fos_user_profile_show')}}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>
        {% else %}
            <a href="{{path('viewSpecificUser', {userid: userid})}}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>
        {% endif %}

    {{ form_end(form) }}
{% endblock %}
