{% extends '::layout.html.twig' %}


{% block content %}
<div class="row">
    <div class="col-md-12">

        {% if newsubscriber %}
        <h1>{{'New subscription'|trans }}</h1>
        {% else %}
        <h1>{{'Please check your subscription details'|trans }}</h1>
        {% endif %}

        {{ form_start(form) }}

        {% for child in form.children %}
            {% if child.vars.errors is defined and child.vars.errors|length%}
            <div class="alert alert-block alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ form_errors(child) }}
            </div>
            {% endif %}
        {% endfor %}

        <div class="form-group">
            <div class="col-md-12" id="generalInformation">
                <fieldset>
                    <legend>General information</legend>

                    {{ form_label(form.school) }}
                    {{ form_widget(form.school) }}

                    {{ form_label(form.graduation) }}
                    {{ form_widget(form.graduation) }}

                    {{ form_label(form.pricingtype) }}
                    {{ form_widget(form.pricingtype) }}

                    {{ form_label(form.wantsBill) }}
                    {{ form_widget(form.wantsBill) }}
                </fieldset>
            </div>
        </div>
        <div class="col-md-12" id="deliveryAddress">
            <fieldset>
                <legend>Delivery address</legend>
                <div id="deliveryAddressStreet">
                    {{ form_label(form.deliveryaddress.street) }}
                    {{ form_widget(form.deliveryaddress.street) }}
                </div>

                <div id="deliveryAddressPostalCode">
                    {{ form_label(form.deliveryaddress.postalCode) }}
                    {{ form_widget(form.deliveryaddress.postalCode) }}
                </div>

                <div id="deliveryAddressMunicipality">
                    {{ form_label(form.deliveryaddress.municipality) }}
                    {{ form_widget(form.deliveryaddress.municipality) }}
                </div>

                <div id="deliveryAddressCountry">
                    {{ form_label(form.deliveryaddress.country) }}
                    {{ form_widget(form.deliveryaddress.country) }}
                </div>
            </fieldset>
        </div>

        <div class="col-md-12" id="facturationAddress">
            <fieldset>
                <legend>Facturation address</legend>
                <div id="facturationAddressStreet">
                    {{ form_label(form.facturationaddress.street) }}
                    {{ form_widget(form.facturationaddress.street) }}
                </div>

                <div id="facturationAddressPostalCode">
                    {{ form_label(form.facturationaddress.postalCode) }}
                    {{ form_widget(form.facturationaddress.postalCode) }}
                </div>

                <div id="deliveryAddressMunicipality">
                    {{ form_label(form.facturationaddress.municipality) }}
                    {{ form_widget(form.facturationaddress.municipality) }}
                </div>

                <div id="facturationAddressCountry">
                    {{ form_label(form.facturationaddress.country) }}
                    {{ form_widget(form.facturationaddress.country) }}
                </div>
            </fieldset>
        </div>

        <div class="col-md-12" id="sameAddress">
            {{ form_label(form.sameaddress) }}
            {{ form_widget(form.sameaddress) }}
        </div>

        <div class="col-md-12" id="vatNumber">
            {{ form_label(form.vatNumber) }}
            {{ form_widget(form.vatNumber) }}
        </div>

        {{ form_rest(form) }}

        {{form_widget(form.save, { 'attr': {'class': 'btn btn-primary'}})}}
        {% if userid == app.user.id %}
        <a href="{{path('fos_user_profile_show')}}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>
        {% else %}
        <a href="{{path('viewSpecificUser', {userid: userid})}}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>
        {% endif %}

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
