{% extends '::layout.html.twig' %}

{% block content %}
    {% if newsubscriber %}
    <h1>New Subscription</h1>
    {% else %}
    <h1>Please Check your subscription details</h1>
    {% endif %}
    {{ form_start(form) }}
    	{{ form_errors(form) }}

        {{form_widget(form.save, { 'attr': {'class': 'btn btn-primary'}})}}
        {% if userid == app.user.id %}
            <a href="{{path('fos_user_profile_show')}}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>
        {% else %}
            <a href="{{path('viewSpecificUser', {userid: userid})}}" class="btn btn-danger">{{ 'Cancel'|trans }}</a>
        {% endif %}

    	{{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

